# Telegram Bot Configuration
# Получите токен у @BotFather в Telegram
BOT_TOKEN=8160500562:AAH7hPNFBIQ2u3EuWOMfEgn9f0TJ8L-onyA

# ID чата или канала для отправки цитат
# Для получения ID используйте @userinfobot
CHAT_ID=1002526755108

# Отправлять ли тестовую цитату при запуске (true/false)
# По умолчанию: true
SEND_TEST_QUOTE=true
